In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('train.csv', sep=";")

In [13]:
print(df.shape)
df.head()
df.info()
df.describe()

(6559, 45)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6559 entries, 0 to 6558
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Geo Point   6559 non-null   object
 1   Geo Shape   6559 non-null   object
 2   OBJECTID    6559 non-null   int64
 3   IPEDSID     6559 non-null   int64
 4   NAME        6559 non-null   object
 5   ADDRESS     6558 non-null   object
 6   CITY        6559 non-null   object
 7   STATE       6559 non-null   object
 8   ZIP         6559 non-null   int64
 9   ZIP4        6559 non-null   object
 10  TELEPHONE   6559 non-null   object
 11  TYPE        6559 non-null   int64
 12  STATUS      6559 non-null   object
 13  POPULATION  6559 non-null   int64
 14  COUNTY      6559 non-null   object
 15  COUNTYFIPS  6559 non-null   object
 16  COUNTRY     6559 non-null   object
 17  LATITUDE    6559 non-null   float64
 18  LONGITUDE   6559 non-null   float64
 19  NAICS_CODE  6559 non-null   int64
 20  NAICS_DESC  6559 non-null   object
 21  SOURCE      6559 non-null   object
 22  SOURCEDATE  6559 non-null   object
 23  VAL_METHOD  6559 non-null   object
 24  VAL_DATE    6559 non-null   object
 25  WEBSITE     6559 non-null   object
 26  STFIPS      6559 non-null   object
 27  COFIPS      6559 non-null   object
 28  SECTOR      6559 non-null   int64
 29  LEVEL_      6559 non-null   int64
 30  HI_OFFER    6559 non-null   int64
 31  DEG_GRANT   6559 non-null   int64
 32  LOCALE      6559 non-null   int64
 33  CLOSE_DATE  6559 non-null   object
 34  MERGE_ID    6559 non-null   int64
 35  ALIAS       6558 non-null   object
 36  SIZE_SET    6559 non-null   int64
 37  INST_SIZE   6559 non-null   int64
 38  PT_ENROLL   6559 non-null   int64
 39  FT_ENROLL   6559 non-null   int64
 40  TOT_ENROLL  6559 non-null   int64
 41  HOUSING     6559 non-null   int64
 42  DORM_CAP    6559 non-null   int64
 43  TOT_EMP     6559 non-null   int64
 44  SHELTER_ID  6559 non-null   object
dtypes: float64(2), int64(20), object(23)
memory usage: 2.3+ MB

,OBJECTID,IPEDSID,ZIP,TYPE,POPULATION,LATITUDE,LONGITUDE,NAICS_CODE,SECTOR,LEVEL_,...,LOCALE,MERGE_ID,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP
count,6559.00000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,...,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000
mean,3280.00000,290230.601006,49006.583473,2.010215,3495.304010,37.209344,-90.511778,611363.538802,5.763226,1.810794,...,19.792194,6587.570209,8.614880,1.526452,854.410276,1774.002134,2944.302943,1.532551,-188.192255,485.355542
std,1893.56454,140513.800011,30226.485810,1.007771,8769.568327,5.949359,18.113995,127.592843,11.028694,0.903232,...,9.614955,50252.079755,11.019717,1.238744,3634.161191,5195.132694,7471.088126,0.762894,1718.356611,1727.646896
min,1.00000,100654.000000,602.000000,-3.000000,-999.000000,-14.323171,-170.743175,611210.000000,0.000000,-3.000000,...,-3.000000,-2.000000,-2.000000,-2.000000,-999.000000,-999.000000,-999.000000,-2.000000,-999.000000,-999.000000
25%,1640.50000,171349.500000,23032.500000,1.000000,113.000000,33.884990,-97.688684,611310.000000,2.000000,1.000000,...,12.000000,-2.000000,-2.000000,1.000000,-999.000000,62.000000,88.000000,1.000000,-999.000000,17.000000
50%,3280.00000,223852.000000,46202.000000,2.000000,518.000000,38.627026,-86.391529,611310.000000,4.000000,2.000000,...,21.000000,-2.000000,5.000000,1.000000,57.000000,291.000000,412.000000,2.000000,-999.000000,72.000000
75%,4919.50000,449078.500000,77024.500000,3.000000,2921.000000,41.230782,-78.784893,611511.000000,8.000000,3.000000,...,22.000000,-2.000000,19.000000,2.000000,802.000000,1448.500000,2423.000000,2.000000,237.000000,434.000000
max,6559.00000,496423.000000,99801.000000,3.000000,154991.000000,71.324702,171.378442,611710.000000,99.000000,3.000000,...,43.000000,495767.000000,33.000000,5.000000,93333.000000,147866.000000,147866.000000,2.000000,20580.000000,35030.000000

In [ ]:
print("=== College Matching System ===")
print("=== User Preferences Input ===")
print(" ")

state = input("Preferred state (e.g., CA, NY, MO or leave blank for no preference): ").upper().strip()

city = input("Preferred city (e.g., capital first letter and rest lowercase or leave blank for no preference)").strip()

min_enroll = input("Minimum enrollment (number): ")

max_enroll = input("Maximum enrollment (number): ")

needs_dorms = input("Do you want on-campus housing? (yes/no): ").lower().strip()

print("State:", state)
print("Minimum enrollment:", min_enroll)
print("Maximum enrollment:", max_enroll)
print("Needs dorms:", needs_dorms)

=== College Matching System ===
=== User Preferences Input ===

State: CA
Minimum enrollment: 10000
Maximum enrollment: 100000
Needs dorms: yes

In [ ]:
df["TOT_ENROLL"] = pd.to_numeric(df["TOT_ENROLL"], errors="coerce").fillna(0)

def score_college(row):
    score = 0

    if state and row["STATE"] == state:
        score += 1

    if min_enroll <= row["TOT_ENROLL"] <= max_enroll:
        score += 1

    if needs_dorms:
        score += 1

    return score

df["score"] = df.apply(score_college, axis=1)
results = df.sort_values("score", ascending=False)

In [ ]:
print("=== Top College Matches ===")
top = results.head(10)[["NAME", "CITY", "STATE", "TOT_ENROLL", "HOUSING", "score"]]

print(top.to_string(index=False))

=== Top College Matches ===
                                  NAME             CITY STATE  TOT_ENROLL  HOUSING  TYPE  score
                         NORCO COLLEGE            NORCO    CA       10261        2     1      9
                        CUESTA COLLEGE  SAN LUIS OBISPO    CA       10093        2     1      9
                     GROSSMONT COLLEGE         EL CAJON    CA       15426        2     1      9
   UNIVERSITY OF CALIFORNIA-SANTA CRUZ       SANTA CRUZ    CA       19161        1     1      9
     UNIVERSITY OF CALIFORNIA-BERKELEY         BERKELEY    CA       42327        1     1      9
                        CITRUS COLLEGE         GLENDORA    CA       11863        2     1      9
CALIFORNIA STATE UNIVERSITY-STANISLAUS          TURLOCK    CA       11163        1     1      9
            SANTA BARBARA CITY COLLEGE    SANTA BARBARA    CA       12525        2     1      9
                    SADDLEBACK COLLEGE    MISSION VIEJO    CA       18984        2     1      9
                   GOLDEN WEST COLLEGE HUNTINGTON BEACH    CA       11396        2     1      9