In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('train.csv', sep=";")

In [ ]:
print(df.shape)
df.head()
df.info()
df.describe()

<bound method DataFrame.notna of                                     Geo Point  \
0      45.48038428000007, -122.67453292999994
1                       42.388647, -72.529312
2      39.24427778200004, -119.93912465099999
3           33.13142857200006, -117.118565978
4                        26.70538, -80.136711
...                                       ...
6554    36.04760212200006, -86.70979255199995
6555   33.48280476700006, -117.10457193399998
6556   41.16187395600008, -111.93943589899999
6557   33.47965406800006, -112.00456992499994
6558  37.341702901000076, -121.87837011899995

                                              Geo Shape  OBJECTID  IPEDSID  \
0     {"coordinates": [-122.67453292999994, 45.48038...        16   443599
1     {"coordinates": [-72.529312, 42.388647], "type...        23   166629
2     {"coordinates": [-119.93912465099999, 39.24427...        28   182458
3     {"coordinates": [-117.118565978, 33.1314285720...        81   468848
4     {"coordinates": [-80.136711, 26.70538], "type"...       110   487393
...                                                 ...       ...      ...
6554  {"coordinates": [-86.70979255199995, 36.047602...      6478   493789
6555  {"coordinates": [-117.10457193399998, 33.48280...      6492   494108
6556  {"coordinates": [-111.93943589899999, 41.16187...      6534   494649
6557  {"coordinates": [-112.00456992499994, 33.47965...      6538   494700
6558  {"coordinates": [-121.87837011899995, 37.34170...      6548   494816

                                                   NAME  \
0               AMERICAN COLLEGE OF HEALTHCARE SCIENCES
1                   UNIVERSITY OF MASSACHUSETTS-AMHERST
2                              SIERRA NEVADA UNIVERSITY
3     UNITED EDUCATION INSTITUTE-UEI COLLEGE SAN MARCOS
4                FLORIDA CAREER COLLEGE-WEST PALM BEACH
...                                                 ...
6554            SHEAR PERFECTION ACADEMY OF COSMETOLOGY
6555             HIGH DESERT MEDICAL COLLEGE - TEMECULA
6556                           ESTEEM ACADEMY OF BEAUTY
6557                               XTYLO BEAUTY COLLEGE
6558                    URBAN BARBER COLLEGE - SAN JOSE

                                         ADDRESS             CITY STATE  \
0                            5005 S. MACADAM AVE         PORTLAND    OR
1     374 WHITMORE BUILDING 181 PRESIDENTS DRIVE          AMHERST    MA
2                                999 TAHOE BLVD.  INCLINE VILLAGE    NV
3                              2085 MONTIEL ROAD       SAN MARCOS    CA
4                          6058 OKEECHOBEE BLVD.  WEST PALM BEACH    FL
...                                          ...              ...   ...
6554                        5620 NOLESVILLE PIKE        NASHVILLE    TN
6555             31625 DE PORTOLA ROAD SUITE 200         TEMECULA    CA
6556                        1682 EAST 5600 SOUTH      SOUTH OGDEN    UT
6557                      2828 NORTH 36TH STREET          PHOENIX    AZ
6558       576 EAST SANTA CLARA STREET SUITE #10         SAN JOSE    CA

        ZIP           ZIP4  ...          ALIAS  SIZE_SET INST_SIZE  PT_ENROLL  \
0     97239  NOT AVAILABLE  ...  NOT AVAILABLE        26         1        692
1      1003  NOT AVAILABLE  ...  UMASS AMHERST        15         5       6941
2     89451  NOT AVAILABLE  ...            SNU        19         1        146
3     92069           3587  ...  NOT AVAILABLE        -2         1       -999
4     33417           4326  ...  NOT AVAILABLE        -2         1       -999
...     ...            ...  ...            ...       ...       ...        ...
6554  37211           3020  ...  NOT AVAILABLE        -2         1          8
6555  92592           0000  ...  NOT AVAILABLE        -2        -2       -999
6556  84403           4374  ...  NOT AVAILABLE        -2         1          4
6557  85008           1303  ...  NOT AVAILABLE        -2         1       -999
6558  95112           2042  ...  NOT AVAILABLE        -2        -2       -999

     FT_ENROLL TOT_ENROLL HOUSING  DORM_CAP  TOT_EMP     SHELTER_ID
0          164        856       2      -999       64  NOT AVAILABLE
1        24701      31642       1     14015     5685  NOT AVAILABLE
2          471        617       1       200      201  NOT AVAILABLE
3          719        719       2      -999       57  NOT AVAILABLE
4          869        869       2      -999       60  NOT AVAILABLE
...        ...        ...     ...       ...      ...            ...
6554         2         10       2      -999       13  NOT AVAILABLE
6555      -999       -999      -1      -999     -999  NOT AVAILABLE
6556         9         13       2      -999       12  NOT AVAILABLE
6557        27         27       2      -999        9  NOT AVAILABLE
6558      -999       -999      -1      -999     -999  NOT AVAILABLE

[6559 rows x 45 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6559 entries, 0 to 6558
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Geo Point   6559 non-null   object
 1   Geo Shape   6559 non-null   object
 2   OBJECTID    6559 non-null   int64
 3   IPEDSID     6559 non-null   int64
 4   NAME        6559 non-null   object
 5   ADDRESS     6558 non-null   object
 6   CITY        6559 non-null   object
 7   STATE       6559 non-null   object
 8   ZIP         6559 non-null   int64
 9   ZIP4        6559 non-null   object
 10  TELEPHONE   6559 non-null   object
 11  TYPE        6559 non-null   int64
 12  STATUS      6559 non-null   object
 13  POPULATION  6559 non-null   int64
 14  COUNTY      6559 non-null   object
 15  COUNTYFIPS  6559 non-null   object
 16  COUNTRY     6559 non-null   object
 17  LATITUDE    6559 non-null   float64
 18  LONGITUDE   6559 non-null   float64
 19  NAICS_CODE  6559 non-null   int64
 20  NAICS_DESC  6559 non-null   object
 21  SOURCE      6559 non-null   object
 22  SOURCEDATE  6559 non-null   object
 23  VAL_METHOD  6559 non-null   object
 24  VAL_DATE    6559 non-null   object
 25  WEBSITE     6559 non-null   object
 26  STFIPS      6559 non-null   object
 27  COFIPS      6559 non-null   object
 28  SECTOR      6559 non-null   int64
 29  LEVEL_      6559 non-null   int64
 30  HI_OFFER    6559 non-null   int64
 31  DEG_GRANT   6559 non-null   int64
 32  LOCALE      6559 non-null   int64
 33  CLOSE_DATE  6559 non-null   object
 34  MERGE_ID    6559 non-null   int64
 35  ALIAS       6558 non-null   object
 36  SIZE_SET    6559 non-null   int64
 37  INST_SIZE   6559 non-null   int64
 38  PT_ENROLL   6559 non-null   int64
 39  FT_ENROLL   6559 non-null   int64
 40  TOT_ENROLL  6559 non-null   int64
 41  HOUSING     6559 non-null   int64
 42  DORM_CAP    6559 non-null   int64
 43  TOT_EMP     6559 non-null   int64
 44  SHELTER_ID  6559 non-null   object
dtypes: float64(2), int64(20), object(23)
memory usage: 2.3+ MB

,OBJECTID,IPEDSID,ZIP,TYPE,POPULATION,LATITUDE,LONGITUDE,NAICS_CODE,SECTOR,LEVEL_,...,LOCALE,MERGE_ID,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP
count,6559.00000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,...,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000,6559.000000
mean,3280.00000,290230.601006,49006.583473,2.010215,3495.304010,37.209344,-90.511778,611363.538802,5.763226,1.810794,...,19.792194,6587.570209,8.614880,1.526452,854.410276,1774.002134,2944.302943,1.532551,-188.192255,485.355542
std,1893.56454,140513.800011,30226.485810,1.007771,8769.568327,5.949359,18.113995,127.592843,11.028694,0.903232,...,9.614955,50252.079755,11.019717,1.238744,3634.161191,5195.132694,7471.088126,0.762894,1718.356611,1727.646896
min,1.00000,100654.000000,602.000000,-3.000000,-999.000000,-14.323171,-170.743175,611210.000000,0.000000,-3.000000,...,-3.000000,-2.000000,-2.000000,-2.000000,-999.000000,-999.000000,-999.000000,-2.000000,-999.000000,-999.000000
25%,1640.50000,171349.500000,23032.500000,1.000000,113.000000,33.884990,-97.688684,611310.000000,2.000000,1.000000,...,12.000000,-2.000000,-2.000000,1.000000,-999.000000,62.000000,88.000000,1.000000,-999.000000,17.000000
50%,3280.00000,223852.000000,46202.000000,2.000000,518.000000,38.627026,-86.391529,611310.000000,4.000000,2.000000,...,21.000000,-2.000000,5.000000,1.000000,57.000000,291.000000,412.000000,2.000000,-999.000000,72.000000
75%,4919.50000,449078.500000,77024.500000,3.000000,2921.000000,41.230782,-78.784893,611511.000000,8.000000,3.000000,...,22.000000,-2.000000,19.000000,2.000000,802.000000,1448.500000,2423.000000,2.000000,237.000000,434.000000
max,6559.00000,496423.000000,99801.000000,3.000000,154991.000000,71.324702,171.378442,611710.000000,99.000000,3.000000,...,43.000000,495767.000000,33.000000,5.000000,93333.000000,147866.000000,147866.000000,2.000000,20580.000000,35030.000000